.products_container{
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.products{
  margin-top:200px;
  display: flex;
  flex-direction:column;
  align-items: center;
  background-color: rgb(248, 247, 246);
}

.products_title{
  font-size: 40px;
  color: rgb(26, 10, 105);
  font-weight: 600;
  margin-top:20px;
}

@media only screen and (max-width: 600px) {
  .products_container{
    display: flex;
    flex-direction: column;
    padding: 50px;
  }
}