* {
    margin: 0px;
    padding: 0px;
    /* background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important; */
}

.App {
  font-family: Helvetica;
  text-align: center;
  width: 100%;
}
